
.DS_Store
thetamodel_orig/.DS_Store
ThetaModelwSynDep/.DS_Store
ThetaModelwSynDep/v4/.DS_Store
*.fig
old/Archive.zip
v8/trash/syndepression_nulcline/trash/Paramset3/testingroom/phaseplaneNulcline.mat
v8/trash/syndepression_nulcline/trash/Paramset3/phaseplaneNulcline.mat
v8/trash/syndepression_nulcline/trash/Paramset3/LowResData_Results10.mat
v8/trash/syndepression_nulcline/trash/Paramset3/HighResData_Results11.mat
v8/trash/syndepression_nulcline/trash/Paramset2/phaseplaneNulcline.mat
v8/trash/syndepression_nulcline/trash/Paramset2/HighResData_Results9.mat
v8/trash/syndepression_nulcline/Paramset4/testingroom/phaseplaneNulcline.mat
v8/trash/syndepression_nulcline/Paramset4/phaseplaneNulcline.mat
v8/trash/syndepression_nulcline/Paramset4/HighResData_Results8.mat
v8/trash/syndepression_nulcline/Paramset1/VeryHighResData_Results8b.mat
v8/trash/syndepression_nulcline/Paramset1/testingroom/phaseplaneNulcline.mat
v8/trash/syndepression_nulcline/Paramset1/phaseplaneNulcline.mat
v8/trash/syndepression_nulcline/Paramset1/HighResData_Results8.mat
v8/trash/ParameterSweep/YOYOYO.mat
v8/trash/ParameterSweep/Number1/VeryHighResData_Results8b.mat
v8/trash/ParameterSweep/Number1/HighResData_Results8.mat
v8/Old_Stuff/FindingBistability/SDn_results5.mat
v8/Old_Stuff/FindingBistability/SDn_results4.mat
v8/Old_Stuff/FindingBistability/SDn_results1.mat
v8/Old_Stuff/FindingBistability/SDn_results.mat
v8/Old_Stuff/FindingBistability/PSresults5.mat
v8/Old_Stuff/FindingBistability/PSresults4.mat
v8/Old_Stuff/FindingBistability/PSresults3.mat
v8/Old_Stuff/FindingBistability/PSresults2.mat
v8/Old_Stuff/FindingBistability/PSresults1.mat
v8/Old_Stuff/FindingBistability/PSresults.mat
v8/Old_Stuff/FindingBistability/old/SDn_results2.mat
v8/Old_Stuff/FindingBistability/old/SDn_results.mat
v8/Old_Stuff/FindingBistability/old/PSresults7.mat
v8/Old_Stuff/FindingBistability/old/PSresults6.mat
v8/Old_Stuff/FindingBistability/old/PSresults5.mat
v8/Old_Stuff/FindingBistability/old/PSresults4.mat
v8/Old_Stuff/FindingBistability/old/PSresults3.mat
v8/Old_Stuff/FindingBistability/old/PSresults2.mat
v8/JustforKicks/lastconditions.mat
v8/change_K_study/lastconditions.mat
v8/change_K_study/AAA_data.mat
v8/ablationstudy/saved600neuronscalefree.mat
old/v7/trash/syndepression_nulcline/trash/Paramset3/testingroom/phaseplaneNulcline.mat
old/v7/trash/syndepression_nulcline/trash/Paramset3/phaseplaneNulcline.mat
old/v7/trash/syndepression_nulcline/trash/Paramset3/LowResData_Results10.mat
old/v7/trash/syndepression_nulcline/trash/Paramset3/HighResData_Results11.mat
old/v7/trash/syndepression_nulcline/trash/Paramset2/phaseplaneNulcline.mat
old/v7/trash/syndepression_nulcline/trash/Paramset2/HighResData_Results9.mat
old/v7/trash/syndepression_nulcline/Paramset4/testingroom/phaseplaneNulcline.mat
old/v7/trash/syndepression_nulcline/Paramset4/phaseplaneNulcline.mat
old/v7/trash/syndepression_nulcline/Paramset4/HighResData_Results8.mat
old/v7/trash/syndepression_nulcline/Paramset1/VeryHighResData_Results8b.mat
old/v7/trash/syndepression_nulcline/Paramset1/testingroom/phaseplaneNulcline.mat
old/v7/trash/syndepression_nulcline/Paramset1/phaseplaneNulcline.mat
old/v7/trash/syndepression_nulcline/Paramset1/HighResData_Results8.mat
old/v7/trash/ParameterSweep/YOYOYO.mat
old/v7/trash/ParameterSweep/Number1/VeryHighResData_Results8b.mat
old/v7/trash/ParameterSweep/Number1/HighResData_Results8.mat
old/v7/Old_Stuff/FindingBistability/SDn_results5.mat
old/v7/Old_Stuff/FindingBistability/SDn_results4.mat
old/v7/Old_Stuff/FindingBistability/SDn_results1.mat
old/v7/Old_Stuff/FindingBistability/SDn_results.mat
old/v7/Old_Stuff/FindingBistability/PSresults5.mat
old/v7/Old_Stuff/FindingBistability/PSresults4.mat
old/v7/Old_Stuff/FindingBistability/PSresults3.mat
old/v7/Old_Stuff/FindingBistability/PSresults2.mat
old/v7/Old_Stuff/FindingBistability/PSresults1.mat
old/v7/Old_Stuff/FindingBistability/PSresults.mat
old/v7/Old_Stuff/FindingBistability/old/SDn_results2.mat
old/v7/Old_Stuff/FindingBistability/old/SDn_results.mat
old/v7/Old_Stuff/FindingBistability/old/PSresults7.mat
old/v7/Old_Stuff/FindingBistability/old/PSresults6.mat
old/v7/Old_Stuff/FindingBistability/old/PSresults5.mat
old/v7/Old_Stuff/FindingBistability/old/PSresults4.mat
old/v7/Old_Stuff/FindingBistability/old/PSresults3.mat
old/v7/Old_Stuff/FindingBistability/old/PSresults2.mat
old/v7/lastconditions.mat
*.mat
